*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

body{
    min-height: 100vh;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
}